<div class="rcv">
  <div class="rcv__progress" [style.width.%]="readingProgress()"></div>

  <div class="rcv__layout" [class.rcv__layout--no-toc]="!showToc() || toc().length === 0">
    @if (showToc() && toc().length > 0) {
      <nav class="rcv__toc" [class.rcv__toc--collapsed]="!tocOpen()">
        <button type="button" class="rcv__toc-toggle" (click)="toggleToc()">
          <i class="pi" [class.pi-chevron-down]="tocOpen()" [class.pi-chevron-right]="!tocOpen()"></i>
          On this page
        </button>
        @if (tocOpen()) {
          <ul>
            @for (entry of toc(); track entry.id) {
              <li [style.--rcv-toc-indent.px]="(entry.level - 1) * 12">
                <a href="javascript:void(0)" (click)="scrollToHeading(entry.id)">{{ entry.text }}</a>
              </li>
            }
          </ul>
        }
      </nav>
    }

    <div class="rcv__content" #content [innerHTML]="html()"></div>
  </div>

  @if (lightboxSrc(); as src) {
    <div class="rcv__lightbox" (click)="closeLightbox()">
      <img [src]="src" alt="" />
      <button type="button" class="rcv__lightbox-close" (click)="closeLightbox()">
        <i class="pi pi-times"></i>
      </button>
    </div>
  }
</div>
