@use '../../../../../styles/enterprise-admin-mixins' as enterprise;

:host {
  display: block;
  width: 100%;
}

:host ::ng-deep {
  .ui-password {
    display: block;
    width: 100%;
  }

  .ui-password-input {
    @include enterprise.ui-control-base;
    width: 100%;
  }
}
