<cdk-virtual-scroll-viewport
  [itemSize]="itemSize()"
  [style.height.px]="viewportHeight()"
  [style.--depth]="depth()"
  class="variant-leaf-list"
>
  <div *cdkVirtualFor="let node of children(); trackBy: trackByKey" class="variant-leaf-list__slot">
    <div
      class="variant-manager__row"
      [class.variant-manager__row--selected]="callbacks().isSelected(node.variant!.id)"
      [class.variant-manager__row--active]="callbacks().isActive(node.variant!.id)"
      [class.variant-manager__row--highlighted]="callbacks().isHighlighted(node.variant!.id)"
      tabindex="0"
      [attr.aria-label]="'Open codes for ' + node.label"
      (click)="!callbacks().bulkSelectionActive() && !callbacks().isEditingPrice(node.variant!.id) && callbacks().openVariant(node.variant!)"
      (keydown.enter)="!callbacks().bulkSelectionActive() && !callbacks().isEditingPrice(node.variant!.id) && callbacks().openVariant(node.variant!)"
    >
      <ng-template #priceField>
        <span class="variant-manager__row-price" (click)="$event.stopPropagation()">
          @if (callbacks().isEditingPrice(node.variant!.id)) {
            <p-inputNumber
              class="variant-manager__row-price-input"
              [ngModel]="callbacks().priceDraft()"
              (ngModelChange)="callbacks().setPriceDraft($event)"
              (keydown.enter)="callbacks().saveEditPrice(node.variant!)"
              (keydown.escape)="callbacks().cancelEditPrice()"
              (onBlur)="callbacks().saveEditPrice(node.variant!)"
              mode="currency"
              currency="USD"
              [minFractionDigits]="2"
              autofocus
            />
          } @else {
            <span
              class="variant-manager__row-price-value"
              (click)="callbacks().startEditPrice(node.variant!, $event)"
              >{{ callbacks().displayPrice(node.variant!) | hamboxCurrency }}</span
            >
          }
        </span>
      </ng-template>

      @if (isMobile()) {
        <span class="variant-manager__row-check variant-manager__row-check--price">
          <ng-container [ngTemplateOutlet]="priceField" />
        </span>
      } @else {
        <span class="variant-manager__row-check" (click)="$event.stopPropagation()">
          <p-checkbox
            [binary]="true"
            [ngModel]="callbacks().isSelected(node.variant!.id)"
            (onChange)="callbacks().toggleSelect(node.variant!.id, $event.checked, isShiftClick($event.originalEvent))"
          />
        </span>
      }

      <div class="variant-manager__row-body">
        <div class="variant-manager__row-top">
          <span class="variant-manager__row-name">{{ node.label }}</span>
          <p-tag [value]="node.variant!.status" [severity]="callbacks().statusSeverity(node.variant!)" />
        </div>
        <div class="variant-manager__row-stats">
          @if (!isMobile()) {
            <ng-container [ngTemplateOutlet]="priceField" />
          }
          <span class="variant-manager__row-available">Available {{ node.variant!.availableStock }}</span>
        </div>
      </div>

      <span class="variant-manager__row-actions" (click)="$event.stopPropagation()">
        <app-admin-icon-button
          icon="pi pi-box"
          label="Manage stock"
          (pressed)="callbacks().openVariant(node.variant!)"
        />
        <app-admin-icon-button
          icon="pi pi-pencil"
          label="Edit details"
          (pressed)="callbacks().editVariant(node.variant!)"
        />
        <app-admin-icon-button
          icon="pi pi-file-edit"
          label="Instructions"
          (pressed)="callbacks().editInstructions(node.variant!)"
        />
      </span>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
