<header class="account-topbar" hamboxTranslateRefresh>
  <button
    type="button"
    class="account-topbar__menu-btn"
    [attr.aria-label]="'ACCOUNT.SIDEBAR_UI.OPEN_NAV' | translate"
    (click)="openMobileNav()"
  >
    <i class="pi pi-bars" aria-hidden="true"></i>
  </button>

  <app-storefront-search class="account-topbar__search-host" />

  <div class="account-topbar__actions">
    <app-language-switcher />
    <app-currency-switcher />
    <app-theme-toggle [compact]="true" />
    <app-notification-bell [compact]="true" />
    <app-account-menu [compact]="true" />
  </div>
</header>
